
body {
  margin: 0px;
  padding: 0px;

}
@font-face {
    font-family: Jaguar_Bold;
    src: url("../fonts/Jaguar-Bold.otf");
}
@font-face {
    font-family: Kalinga;
    src: url("../fonts/kalingab_0.ttf");
}



#district
{
position: absolute;
	font-family: "Jaguar_Bold";
	font-size:32px;
	color:white;
	top: 24%;
	left: 12%

}

#polling
{
position: absolute;
	font-family: "Jaguar_Bold";
	font-size:26px;
	color:black;
	top: 31.4%;
	left: 12%

}


#party1
{
position: absolute;
	font-family: "Kalinga";
	font-size:22px;
	font-weight:bold;
	color:black;
	top: 40.5%;
	left: 27%

}
#party1votes
{
position: absolute;
	font-family: "Kalinga";
	font-size:22px;
	text-align: right;
	color:black;
	top: 40.5%;
	left: 64%;
	width:80px;
	width:80px;

}
#party1percentage
{
	position: absolute;
	font-family: "Kalinga";
	font-size:22px;
	text-align: right;
	color:black;
	top: 40.5%;
	left: 79%;
	width:85px;

}
#party1seats
{
	position: absolute;
	font-family: "Kalinga";
	font-size:22px;
	text-align: right;
	color:black;
	top: 40.5%;
	left: 71%;
	width:80px;

}
#seats1
{
	position: absolute;
	font-family: "Kalinga";
	font-size:22px;
	text-align: right;
	color:black;
	top: 40.5%;
	left: 76%;
	width:80px;

}

#party2
{
position: absolute;
	font-family: "Kalinga";
	font-size:22px;
	color:black;
	top: 51%;
	left: 27%

}

#party2votes
{
position: absolute;
	font-family: "Kalinga";
	font-size:22px;
	text-align: right;
	color:black;
	top: 51%;
	left: 64%;
	width:80px;

}
#party2percentage
{
	position: absolute;
	font-family: "Kalinga";
	font-size:22px;
	text-align: right;
	color:black;
	top: 51%;
	left: 79%;
	width:85px;

}
#party2seats
{
	position: absolute;
	font-family: "Kalinga";
	font-size:22px;
	text-align: right;
	color:black;
	top: 51%;
	left: 71%;
	width:80px;

}
#seats2
{
	position: absolute;
	font-family: "Kalinga";
	font-size:22px;
	text-align: right;
	color:black;
	top: 51%;
	left: 76%;
	width:80px;

}

#party3
{
position: absolute;
	font-family: "Kalinga";
	font-size:22px;
	color:black;
	top: 62%;
	left: 27%

}
#party3votes
{
position: absolute;
	font-family: "Kalinga";
	font-size:22px;
	text-align: right;
	color:black;
	top: 62%;
	left: 64%;
	width:80px;

}
#party3percentage
{
	position: absolute;
	font-family: "Kalinga";
	font-size:22px;
	text-align: right;
	color:black;
	top: 62%;
	left: 79%;
	width:85px;

}
#party3seats
{
	position: absolute;
	font-family: "Kalinga";
	font-size:22px;
	text-align: right;
	color:black;
	top: 62%;
	left: 71%;
	width:80px;

}
#seats3
{
	position: absolute;
	font-family: "Kalinga";
	font-size:22px;
	text-align: right;
	color:black;
	top: 62%;
	left: 76%;
	width:80px;

}
#party4
{
position: absolute;
	font-family: "Kalinga";
	font-size:22px;
	color:black;
	top: 72.5%;
	left: 27%

}
#party4votes
{
position: absolute;
	font-family: "Kalinga";
	font-size:22px;
	text-align: right;
	color:black;
	top: 72.5%;
	left: 64%;
	width:80px;

}
#party4percentage
{
	position: absolute;
	font-family: "Kalinga";
	font-size:22px;
	text-align: right;
	color:black;
	top: 72.5%;
	left: 79%;
	width:85px;

}
#party4seats
{
	position: absolute;
	font-family: "Kalinga";
	font-size:22px;
	text-align: right;
	color:black;
	top: 72.5%;
	left: 71%;
	width:80px;

}
#seats4
{
	position: absolute;
	font-family: "Kalinga";
	font-size:22px;
	text-align: right;
	color:black;
	top: 72.5%;
	left: 76%;
	width:80px;

}

#progress1 { 
	position: absolute;
	height: 10px;  /* Can be anything */
	width:442px;
	background-color: white;
	top: 44.5%;
	left: 23.5%;
	
	
}
#progress2 { 
	position: absolute;
	height: 10px;  /* Can be anything */
	width:342px;
	background-color: white;
	top: 55%;
	left: 23.5%;
	
	
}
#progress3 { 
	position: absolute;
	height: 10px;  /* Can be anything */
	width:342px;
	background-color: white;
	top: 66.2%;
	left: 23.5%;
	
	
}
#progress4 { 
	position: absolute;
	height: 10px;  /* Can be anything */
	width:342px;
	background-color: white;
	top: 76.5%;
	left: 23.5%;

}

#logo1{
	position: absolute;
    height:62px;
	width:74px;
	top: 38.5%;
	left: 15%;
}
#logo2{
position: absolute;
    height:62px;
	width:74px;
	top: 50%;
	left: 15%;
}
#logo3{
position: absolute;
    height:62px;
	width:74px;
	top: 61.5%;
	left: 15%;
}
#logo4{
	position: absolute;
    height:62px;
	width:74px;
	top: 73%;
	left: 15%;
	
	
}

#valid
{
position: absolute;
top: 86.5%;
left: 15%;
font-size:13px;
color:white;
}
#valid_votes
{
position: absolute;
top: 86.5%;
left: 24%;
font-size:13px;
color:white;
text-align: right;
}
#valid_percentage
{
position: absolute;
top: 86.5%;
left: 30%;
font-size:13px;
color:white;
text-align: right;
}

#rejected
{
position: absolute;
top: 88.5%;
left: 15%;
font-size:13px;
color:white;
}
#rejected_votes
{
position: absolute;
top: 88.5%;
left: 24%;
font-size:13px;
color:white;
text-align: right;
}
#rejected_percentage
{
position: absolute;
top: 88.5%;
left: 30%;
font-size:13px;
color:white;
text-align: right;
}


#polled
{
position: absolute;
top: 91%;
left: 15%;
font-size:13px;
color:white;
}
#polled_votes
{
position: absolute;
top: 91%;
left: 24%;
font-size:13px;
color:white;
text-align: right;
}

#polled_percentage
{
position: absolute;
text-align: right;
top: 91%;
left: 30%;
font-size:13px;
color:white;

}




#electors
{
position: absolute;
top: 93.5%;
left: 15%;
font-size:13px;
color:white;
}
#electors_votes
{
position: absolute;
top: 93.5%;
left: 24%;
font-size:13px;
color:white;
text-align: right;
}

#districtdescription
{

	position: absolute;
	font-family: "Jaguar_Bold";
	font-size:26px;
	color:black;
	top: 31.4%;
	left: 12%;

}




@media screen and (max-width: 800px) {
    

body {
  margin: 0px;
  padding: 0px;

}
@font-face {
    font-family: Jaguar_Bold;
    src: url("../fonts/Jaguar-Bold.otf");
}
@font-face {
    font-family: Kalinga;
    src: url("../fonts/kalingab_0.ttf");
}

#innerbox
{
    position:fixed;
   
    width:720px;
    height:567px;
	
    background-image: url("Theme-Card.png");
}

#district
{
position: absolute;
	font-family: "Jaguar_Bold";
	font-size:20px;
	color:white;
	top: 22%;
	left: 16.5%;

}

#polling
{
position: absolute;
	font-family: "Jaguar_Bold";
	font-size:20px;
	color:black;
	top: 30%;
	left: 12%

}


#party1
{
position: absolute;
	font-family: "Kalinga";
	font-size:20px;
	color:black;
	top: 40%;
	left: 27%

}
#party1votes
{
position: absolute;
	font-family: "Kalinga";
	font-size:20px;
	text-align: right;
	color:black;
	top: 40%;
	left: 55%;
	width:80px;

}
#party1percentage
{
	position: absolute;
	font-family: "Kalinga";
	font-size:20px;
	text-align: right;
	color:black;
	top: 40%;
	left: 76%;
	width:80px;

}
#party1seats
{
	position: absolute;
	font-family: "Kalinga";
	font-size:20px;
	text-align: right;
	color:black;
	top: 40%;
	left: 63%;
	width:80px;

}

#party2
{
position: absolute;
	font-family: "Kalinga";
	font-size:20px;
	color:black;
	top: 51%;
	left: 27%

}

#party2votes
{
position: absolute;
	font-family: "Kalinga";
	font-size:20px;
	text-align: right;
	color:black;
	top: 51%;
	left: 55%;
	width:80px;

}
#party2percentage
{
	position: absolute;
	font-family: "Kalinga";
	font-size:20px;
	text-align: right;
	color:black;
	top: 51%;
	left: 76%;
	width:80px;

}
#party2seats
{
	position: absolute;
	font-family: "Kalinga";
	font-size:20px;
	text-align: right;
	color:black;
	top: 51%;
	left: 63%;
	width:80px;

}

#party3
{
position: absolute;
	font-family: "Kalinga";
	font-size:20px;
	color:black;
	top: 63%;
	left: 27%

}
#party3votes
{
position: absolute;
	font-family: "Kalinga";
	font-size:20px;
	text-align: right;
	color:black;
	top: 63%;
	left: 55%;
	width:80px;

}
#party3percentage
{
	position: absolute;
	font-family: "Kalinga";
	font-size:20px;
	text-align: right;
	color:black;
	top: 63%;
	left: 76%;
	width:80px;

}
#party3seats
{
	position: absolute;
	font-family: "Kalinga";
	font-size:20px;
	text-align: right;
	color:black;
	top: 63%;
	left: 63%;
	width:80px;

}
#party4
{
position: absolute;
	font-family: "Kalinga";
	font-size:20px;
	color:black;
	top: 74%;
	left: 27%

}
#party4votes
{
position: absolute;
	font-family: "Kalinga";
	font-size:20px;
	text-align: right;
	color:black;
	top: 74%;
	left: 55%;
	width:80px;

}
#party4percentage
{
	position: absolute;
	font-family: "Kalinga";
	font-size:20px;
	text-align: right;
	color:black;
	top: 74%;
	left: 76%;
	width:80px;

}
#party4seats
{
	position: absolute;
	font-family: "Kalinga";
	font-size:20px;
	text-align: right;
	color:black;
	top: 74%;
	left: 63%;
	width:80px;

}


}
#progress1 { 
	position: absolute;
	height: 15px;  /* Can be anything */
	width:342px;
	background-color: white;
	top: 45%;
	left: 23.5%;
	
	
}
#progress2 { 
	position: absolute;
	height: 15px;  /* Can be anything */
	width:342px;
	background-color: white;
	top: 56%;
	left: 23.5%;
	
	
}
#progress3 { 
	position: absolute;
	height: 15px;  /* Can be anything */
	width:342px;
	background-color: white;
	
	top: 68%;
	left: 23.5%;
	
	
}
#progress4 { 
	position: absolute;
	height: 15px;  /* Can be anything */
	width:342px;
	background-color: white;
	top: 79.5%;
	left: 23.5%;

}

#logo1{
	position: absolute;
    height:62px;
	width:74px;
	top: 38.5%;
	left: 12.2%;
}
#logo2{
position: absolute;
    height:62px;
	width:74px;

	top: 50%;
	left: 12.2%;
}
#logo3{
position: absolute;
    height:62px;
	width:74px;

	top: 61.5%;
	left: 12.2%;
}
#logo4{
	position: absolute;
    height:62px;
	width:74px;
	
	top: 73%;
	left: 12.2%;
	
	
}

#valid
{
position: absolute;
top: 86.5%;
left: 30%;
font-size:10px;
color:white;
}
#valid_votes
{
position: absolute;
top: 86.5%;
left: 39%;
font-size:10px;
color:white;
}
#valid_percentage
{
position: absolute;
top: 86.5%;
left: 49%;
font-size:10px;
color:white;
}

#rejected
{
position: absolute;
top: 88.5%;
left: 30%;
font-size:10px;
color:white;
}
#rejected_votes
{
position: absolute;
top: 88.5%;
left: 39%;
font-size:10px;
color:white;
}
#rejected_percentage
{
position: absolute;
top: 88.5%;
left: 49%;
font-size:10px;
color:white;
}


#polled
{
position: absolute;
top: 91%;
left: 30%;
font-size:10px;
color:white;
}
#polled_votes
{
position: absolute;
top: 91%;
left: 39%;
font-size:10px;
color:white;
}

#polled_percentage
{
position: absolute;
top: 91%;
left: 49%;
font-size:10px;
color:white;
}




#electors
{
position: absolute;
top: 93.5%;
left: 30%;
font-size:10px;
color:white;
}
#electors_votes
{
position: absolute;
top: 93.5%;
left: 39%;
font-size:10px;
color:white;
}

#districtdescription
{

	position: absolute;
	font-family: "Jaguar_Bold";
	font-size:15px;
	color:black;
	top: 30%;
	left: 12%;

}


}