
body {
  margin: 0px;
  padding: 0px;

}
@font-face {
    font-family: Jaguar_Bold;
    src: url("../fonts/Jaguar-Bold.otf");
}
@font-face {
    font-family: Kalinga;
    src: url("../fonts/kalingab_0.ttf");
}

#innerbox
{
    position:fixed;
   
    width:720px;
    height:567px;
	
    background-image: url("Theme-Card.png");
}

#district
{
position: absolute;
	font-family: "Jaguar_Bold";
	font-size:20px;
	color:white;
	top: 22%;
	left: 16.5%;

}

#polling
{
position: absolute;
	font-family: "Jaguar_Bold";
	font-size:20px;
	color:black;
	top: 30%;
	left: 12%

}


#party1
{
position: absolute;
	font-family: "Kalinga";
	font-size:20px;
	color:black;
	top: 40%;
	left: 27%

}
#party1votes
{
position: absolute;
	font-family: "Kalinga";
	font-size:20px;
	text-align: right;
	color:black;
	top: 40%;
	left: 58%;
	width:80px;

}
#party1percentage
{
	position: absolute;
	font-family: "Kalinga";
	font-size:20px;
	text-align: right;
	color:black;
	top: 40%;
	left: 73%;
	width:80px;

}
#party1seats
{
	position: absolute;
	font-family: "Kalinga";
	font-size:20px;
	text-align: right;
	color:black;
	top: 40%;
	left: 78%;
	width:80px;

}

#party2
{
position: absolute;
	font-family: "Kalinga";
	font-size:20px;
	color:black;
	top: 51%;
	left: 27%

}

#party2votes
{
position: absolute;
	font-family: "Kalinga";
	font-size:20px;
	text-align: right;
	color:black;
	top: 51%;
	left: 58%;
	width:80px;

}
#party2percentage
{
	position: absolute;
	font-family: "Kalinga";
	font-size:20px;
	text-align: right;
	color:black;
	top: 51%;
	left: 73%;
	width:80px;

}
#party2seats
{
	position: absolute;
	font-family: "Kalinga";
	font-size:20px;
	text-align: right;
	color:black;
	top: 51%;
	left: 78%;
	width:80px;

}

#party3
{
position: absolute;
	font-family: "Kalinga";
	font-size:20px;
	color:black;
	top: 63%;
	left: 27%

}
#party3votes
{
position: absolute;
	font-family: "Kalinga";
	font-size:20px;
	text-align: right;
	color:black;
	top: 63%;
	left: 58%;
	width:80px;

}
#party3percentage
{
	position: absolute;
	font-family: "Kalinga";
	font-size:20px;
	text-align: right;
	color:black;
	top: 63%;
	left: 73%;
	width:80px;

}
#party3seats
{
	position: absolute;
	font-family: "Kalinga";
	font-size:20px;
	text-align: right;
	color:black;
	top: 63%;
	left: 78%;
	width:80px;

}
#party4
{
position: absolute;
	font-family: "Kalinga";
	font-size:20px;
	color:black;
	top: 74%;
	left: 27%

}
#party4votes
{
position: absolute;
	font-family: "Kalinga";
	font-size:20px;
	text-align: right;
	color:black;
	top: 74%;
	left: 58%;
	width:80px;

}
#party4percentage
{
	position: absolute;
	font-family: "Kalinga";
	font-size:20px;
	text-align: right;
	color:black;
	top: 74%;
	left: 73%;
	width:80px;

}
#party4seats
{
	position: absolute;
	font-family: "Kalinga";
	font-size:20px;
	text-align: right;
	color:black;
	top: 74%;
	left: 78%;
	width:80px;

}

#progress1 { 
	position: absolute;
	height: 15px;  /* Can be anything */
	width:342px;
	background-color: white;
	top: 45%;
	left: 23.5%;
	
	
}
#progress2 { 
	position: absolute;
	height: 15px;  /* Can be anything */
	width:342px;
	background-color: white;
	top: 56%;
	left: 23.5%;
	
	
}
#progress3 { 
	position: absolute;
	height: 15px;  /* Can be anything */
	width:342px;
	background-color: white;
	
	top: 68%;
	left: 23.5%;
	
	
}
#progress4 { 
	position: absolute;
	height: 15px;  /* Can be anything */
	width:342px;
	background-color: white;
	top: 79.5%;
	left: 23.5%;

}

#logo1{
	position: absolute;
    height:62px;
	width:74px;
	top: 38.5%;
	left: 12.2%;
}
#logo2{
position: absolute;
    height:62px;
	width:74px;

	top: 50%;
	left: 12.2%;
}
#logo3{
position: absolute;
    height:62px;
	width:74px;

	top: 61.5%;
	left: 12.2%;
}
#logo4{
	position: absolute;
    height:62px;
	width:74px;
	
	top: 73%;
	left: 12.2%;
	
	
}

#valid
{
position: absolute;
top: 86.5%;
left: 30%;
font-size:10px;
color:white;
}
#valid_votes
{
position: absolute;
top: 86.5%;
left: 39%;
font-size:10px;
color:white;
}
#valid_percentage
{
position: absolute;
top: 86.5%;
left: 49%;
font-size:10px;
color:white;
}

#rejected
{
position: absolute;
top: 88.5%;
left: 30%;
font-size:10px;
color:white;
}
#rejected_votes
{
position: absolute;
top: 88.5%;
left: 39%;
font-size:10px;
color:white;
}
#rejected_percentage
{
position: absolute;
top: 88.5%;
left: 49%;
font-size:10px;
color:white;
}


#polled
{
position: absolute;
top: 91%;
left: 30%;
font-size:10px;
color:white;
}
#polled_votes
{
position: absolute;
top: 91%;
left: 39%;
font-size:10px;
color:white;
}

#polled_percentage
{
position: absolute;
top: 91%;
left: 49%;
font-size:10px;
color:white;
}




#electors
{
position: absolute;
top: 93.5%;
left: 30%;
font-size:10px;
color:white;
}
#electors_votes
{
position: absolute;
top: 93.5%;
left: 39%;
font-size:10px;
color:white;
}

#districtdescription
{

	position: absolute;
	font-family: "Jaguar_Bold";
	font-size:15px;
	color:black;
	top: 30%;
	left: 12%;

}